@charset "UTF-8";
.list_intro{
    background: black;
    padding-top:50px;
    padding-bottom: 50px;
    color: white;
}


.list_intro .container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_intro .container .list_intro_left{
    flex:1.5;
}

.list_intro .container .list_intro_left h2{
    font-size: 12px;
    opacity: .6; /* 요소를 진하기를 표시 (연하게)0 ~ 1(진하게)*/
    letter-spacing: 0.2em;
}

.list_intro .container .list_intro_left h1{
    margin-top: 0;
    font-size: 36px;
    letter-spacing: 0.1em;
}

.list_intro .container .list_intro_left p{
    font-size: 12px;
    letter-spacing: 0.2em;
    opacity: .8;
    word-wrap: break-word; 
    word-break: keep-all;
}

.list_intro .container .list_intro_right{
    flex:1;
    text-align: center;
}

.list_intro .container .list_intro_right button{
    background: white;
    color:black;
    border:2px solid black; 
    border-radius:5px; 
    padding:5px 15px;
    font-size:14px;
    transition: .5s ease; 
}

.list_intro .container .list_intro_right button:hover{
    transition: .5s ease;
    border:2px solid white;
    background: black;
    color:white;
}

.serv_list{
    padding-top:70px;
    padding-bottom:70px;
}

.serv_list .container{
    max-width: 1100px;
    margin:auto;
}


.serv_list .container .title ul{
    padding-left: 0;
    list-style: none; /* ul의 li를 점을 없애줍니다 */
}

.serv_list .container .title ul li{
    display: inline; /* ul의 li를 가로로 정렬 해줍니다 */
    margin-right: 30px;
}

.serv_list .container .title ul li a{
    text-decoration: none;
    color: #444;
}

.serv_list .container .item_list{
    display: flex;
    flex-wrap : wrap; /* 상위 요소의 너비보다 하위 요소의 너비가 더 클 경우 줄바꿈 */
    justify-content: space-between;
}

.serv_list .container .item_list .card{
    border: 1px solid #eee; /* 테두리를 1px 실선의 #eee 색상으로 */
    border-radius: 5px; /* 모서리를 5px 만큼 둥글게 */
    height: 350px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

.serv_list .container .item_list .card img{
    height: 200px;
    width: 250px
} 

.serv_list .container .item_list .card .text p{
    font-size: 14px;
    opacity: .8;
}

.serv_list .container .item_list .card .text button{
    background: black;
    color:white;
    border:2px solid white; /* 테두리를 정의 합니다 // border:두께 형태 색상 */
    border-radius:5px; /* 테두리를 둥글게 바꿔줍니다 */
    padding:5px 10px;
    font-size:10px;
    transition: .5s ease; 
}

.serv_list .container .item_list .card .text button:hover{
    transition: .5s ease;
    border:2px solid black;
    background: transparent;
    color:black;
}