@charset "UTF-8";
/* 회원가입 폼 */
.seller_insert_wrap {
	 	position:center;
	 	padding:35px;          
	 	margin:10px; 
 	}  
 	
 	#inserttable {
	 	height: 300px;
	    width: 900px;
	    border-top: 3px solid black;
	    margin-right: auto;
	    margin-left: auto;
 	}
 	
 	td {
    	border-bottom: 1px dotted black;
    }
    
    .col1 {
	    background-color: #7bcfbb;
	    padding: 10px;
	    text-align: center;
	    font-weight: bold;
	    font-size: 1.2  em;  
    }   
 
    .col2 {
	    text-align: left;
	    padding: 5px;
    }
    #addr_btn {    
	    height: 28px;
	    width: 80px;
	    color: white;
	    background-color: black;
	    border-color: black;
    }
    
   .btn3 {
	    color:white; 
	    height: 35px;
	    width: 150px;
	    background-color: #F6416C;   
	    border: 2px solid white;
    }
    
    .btn3:hover { 
	    background-color: white;
	    color: black;
	    border: 2px solid #F6416C;
    }
    
    .btn3_div {
    	text-align: center;
    	padding-top: 35px;
    }
    
    .num{
    	color: red;
    }
    
    #sample6_address {
    	width: 350px;
    }
    
    .sample6_address_div {
    	padding-bottom: 5px;
    }
    
    #sample6_detailAddress {
    	width: 434px;
    }
    
    .seller_insert_title {
    	padding-bottom: 20px;
    	text-align: center;
    }
    
    .seller_insert_table {
    	margin: auto;
    }
/* 회원가입 폼 end */

/* 판매자 정보 수정 */
	.seller_update_title {
		text-align: center;
	}
	
	.seller_update_title h3 {
		padding: 10px;
	}
	
	.update_table {
		margin: auto;
	}

	.update_td1 {
		background-color: #F2F2F2;
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.update_td2 {
		padding: 5px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.seller_update_btn_div {
		text-align: center;
		padding: 15px;
	}
	
	#addr_btn_2 {
		height: 28px;
	    width: 80px;
	    color: white;
	    font-weight: bold;
	    background-color: #adb5bd;
	    border-color: #adb5bd;
	}
	
	#seller_update_btn {
		width: 50px;
		width: 130px;
    	height: 35px;
	}
/* 판매자 정보 수정 end*/

/* 메뉴 추가 */
	.menuadd_wrap {
		padding: 50px;
	    border: 3px solid #7bcfbb;
	    margin: auto;
	    width: 600px;
	    margin-bottom: 100px;
    	margin-top: 100px;
	    padding: 50px;
	}
	
	.menuadd_title {
		text-align: center;
	}
	
	.menuadd_title h3 {
		padding: 10px;
	}
	
	.menuadd_table {
		margin: auto;
	}

	.menuadd_td1 {
		background-color: #F2F2F2;
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.menuadd_td2 {
		padding: 5px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.menuadd_btn_div {
		text-align: center;
		padding: 25px;
	}
	
	#menuadd_btn {
		width: 50px;
		width: 130px;
    	height: 35px;
	}
/* 메뉴 추가 end */

/* 사이드 메뉴 추가, 수정, 삭제 */
	.food_edit_title {
		text-align: center;
		padding: 10px;
	}
	
	.food_list_wrap {
		width: 70%;
	    height: 750px;
	    margin: auto;
	    overflow-y: auto;
	    -ms-overflow-style: none;
	    scrollbar-width: none;
	}
	
	.food_list_wrap::-webkit-scrollbar {
		display: none;
	}
	
	.food_edit_wrap {
		width: 70%;
	    height: 750px;
	    margin: auto;
	    overflow-y: auto;
	    -ms-overflow-style: none;
	    scrollbar-width: none;
	}
	
	.food_edit_wrap::-webkit-scrollbar {
		display: none;
	}
	
	#food_img {
		width: 148px;
		height: 150px;
	}
	
	#food_edit_img {
		width: 150px;
    	height: 199px;
	}
	
	.list {
		width: auto;
		height: auto;
	}
	
	.food_list {
		width: 150px;
		height: 200px;
		margin-left: 5%;
		margin-bottom: 5%;
		float: left;
		text-align: center;
		border: #7bcfbb solid 1px;
	}
	
	.name_cost {
		padding: 5px;
	}
	
	.side_search {
		text-align: center;
		margin: 20px;
	}
	
	.food_edit {
		width: 800px;
	    height: 200px;
	    margin-left: 5%;
	    margin-bottom: 5%;
	    float: left;
	    text-align: center;
	    border: #7bcfbb solid 1px;
	} 
/* 사이드 메뉴 추가, 수정, 삭제 끝*/

/* 메뉴 수정 및 삭제 */
	.food_edit_table {
    	margin: auto;
    	margin-bottom: 50px;
    	width: 930px;
	}
	
	.food_edit_table th {
		text-align: center;
	    background-color: #7bcfbb;
	    height: 50px;
	}
	
	.food_edit_table td {
		text-align: center;
	}
	
	.modify {
		display: flex;
    	align-items: center;
    	justify-content: center;
		height: 50px;
		cursor: pointer;
	}
	
	.modify:hover {
		background-color: #E0E0E0;
	}
	
	.name_cost {
		align-contents: center;
	}
	
	#my_modal {
        display: none;
        width: 300px;
        height: 120px;
        /* padding: 20px 60px; */
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
    }

    #my_modal .modal_btn {
        text-align: center;
    }
    
    .agree_btn {
    	width: 52px;
    	margin-right: 5px;
    }
    
    .cancel_btn {
    	margin-right: 10px;
    }
    
    .modal_top {
    	height: 25%;
    }
    
    .modal_center {
    	height: 45%;
    	text-align: center;
    	line-height: 3.5;
    }
    
    .modal_bottom {
    	height: 30%;
    	float: right;
    }
    
    .modal_top {
    	width: 100%;
    	background-color: #7bcfbb;
    } 
    
    .modal_top p { 
    	-webkit-margin-before: .3em;
    	 -webkit-margin-after: .5em;
    }
    
    #modal_info {
    	display: inline-block;
    	padding-top: 3px;
    }
    	 
    #close { 
    	float:right; display:inline-block;
    	margin-right: 5px;
    	font-weight: 700;
    	text-shadow: 0 1px 0 #fff;
    	font-size: 1.1rem;
    	display: inline;
    } 
    
    #close:hover { 
    	border: 0; 
    	cursor:pointer; 
    	opacity: .75; 
    }
    .soldout_wrap {
  		position: relative;
	}
    
    .soldout_wrap img {
    	z-index: 1;
		width: 100%;
		vertical-align: middle;
		filter: brightness(50%); 
	}
	
	.soldout_text {
		z-index: 2;
	    text-align: center;
	    position: absolute;
	    color: white;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
/* 메뉴 수정 및 삭제 끝*/

/* 메뉴 수정 */
	.menu_update_wrap {
		padding: 50px;
	    border: 3px solid #7bcfbb;
	    margin: auto;
	    width: 600px;
	    margin-bottom: 50px;
	    margin-top: 50px;
	    padding: 50px;
	}
	
	.menu_update_title {
		text-align: center;
	}
	
	.menuadd_title h3 {
		padding: 10px;
	}
	
	.menu_update_table {
		margin: auto;
	}

	.edit_td1 {
		background-color: #F2F2F2;
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.edit_td2 {
		padding: 5px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.menuadd_btn_div {
		text-align: center;
		padding: 25px;
	}
	
	#menuadd_btn {
		width: 50px;
		width: 130px;
    	height: 35px;
	}
/* 메뉴 수정 */

/* 사이드 메뉴 추가 */
	.sideadd_wrap {
		padding: 50px;
	    border: 3px solid #7bcfbb;
	    margin: auto;
	    width: 600px;
	    margin-bottom: 50px;
	    margin-top: 50px;
	    padding: 50px;
	}
	
	.sideadd_title {
		text-align: center;
	}
	
	.sideadd_title h2 {
		padding: 10px;
	}
	
	.sideadd_table {
		margin: auto;
	}

	.sideadd_td1 {
		background-color: #F2F2F2;
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.sideadd_td2 {
		padding: 5px;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
	}
	
	.sideadd_btn_div {
		text-align: center;
		padding: 25px;
	}
	
/* 사이드 메뉴 추가 end */

/* 옵션 수정 */
	.option_edit_wrep {
		width: 70%;
	    height: 750px;
	    margin: auto;
	    overflow-y: auto;
	    -ms-overflow-style: none;
	    scrollbar-width: none;
	}
	
	.option_edit_wrep::-webkit-scrollbar {
		display: none;
	}
	
	.option_edit_title {
		text-align: center;
	}
	
	.option_edit_title h3 {
		padding: 15px;
	}
	
	.option_edit_table {
		margin: auto;
    	margin-bottom: 50px;
    	width: 800px;
	}
	
	.option_edit_table th {
		text-align: center;
	    background-color: #7bcfbb;
	    height: 50px;
	}
	
	.option_edit_table td {
		text-align: center;
	}
	
	.sideadd_btn_div {
		text-align: center;
		padding: 25px;
	}
	
	.option_modify {
		display: flex;
    	align-items: center;
    	justify-content: center;
		height: 35px;
		cursor: pointer;
	}
	
	.option_modify:hover {
		background-color: #E0E0E0;
	}
	
	#data_empty_td {
		font-weight: bold;
    	height: 50px;
	}
/* 옵션 수정 end */