<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.project.mybatis.mapper.user.MainMapper">
<insert id="categoryUpload" parameterType="com.jhta.project.vo.user.CategoryVo" >
insert into category values(#{cg_name},#{cg_photo})
</insert>
<select id="list" resultType="com.jhta.project.vo.user.CategoryVo">
select * from category
</select>
<select id="selectOne" parameterType="string" resultType="com.jhta.project.vo.user.CategoryVo">
select * from category where cg_name=#{cg_name}
</select>
<update id="update" parameterType="com.jhta.project.vo.user.CategoryVo">
update category set cg_name=#{cg_name} 
<if test="cg_photo!=null">
,cg_photo=#{cg_photo}
</if>
where cg_name=#{cg_name}
</update>
<delete id="delete" parameterType="int">
delete from category where cg_name=#{cg_name}
</delete>
<select id="orderList" resultType="com.jhta.project.vo.user.OrdersVo">
select * from orders where or_status = 4
</select>
<select id="orderReview" resultType="com.jhta.project.vo.user.OrderReviewVo">
select distinct
o.or_num,o.ui_id,o.or_regdate,
f.food_name,
fo.fo_name,
r.r_img,r.r_name
from orders o,food f,food_options fo,restaurant r,orders_detail od, orders_option oo
where o.or_num = od.or_num 
		and od.food_num = f.food_num
		and od.od_num = oo.od_num 
		and f.food_num = fo.food_num
		and f.r_id=r.r_id 
		and o.or_status = 4
		order by o.or_regdate desc
</select>

</mapper>