<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.project.mybatis.mapper.user.SearchMapper">
	<sql id="searchfield">
		<if test="keyword!=null and keyword!=''">
			where r_name like '%'||#{keyword}||'%' or  cg_name like '%'||#{keyword}||'%'
		</if>
		<if test="category!=null and category!=''">
			where cg_category=#{category}
		</if>
	</sql>
	<sql id="orderby">
		<if test="orderby=='true'">
			order by distance 
		</if>
	</sql>
	<select id="selectAddr" parameterType="hashmap" resultType="com.jhta.project.vo.user.UserAddrVo">
		select * from user_addr where ui_id=#{ui_id}
		<if test="ua_nickname!=null and ua_nickname!=''">
			and ua_nickname=#{ua_nickname}
		</if>
	</select>
	<select id="searchRes" parameterType="hashmap" resultType="com.jhta.project.vo.user.InSearchRestaurantVo">
		select * from (
			select a.*,rownum rnum from 
			(select * from 
				(
					select r.*,(select calc_distance(#{user_coordx},#{user_coordy},r.r_coordx,r.r_coordy) distance from dual) distance
					from restaurant r 
				) <![CDATA[where distance<3]]> <include refid="orderby"/>) a 
				<include refid="searchfield"/>
		) <![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		
	</select>
	<select id="count" parameterType="hashmap" resultType="int">
		select NVL(count(r_id),0) from 
		(
			select r.*,(select calc_distance(#{user_coordx},#{user_coordy},r.r_coordx,r.r_coordy) distance from dual) distance
			from restaurant r 
		) <![CDATA[where distance<3]]>
		
	</select>
</mapper> 




