<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.project.mybatis.mapper.user.SearchMapper">
	<sql id="searchfield">
		<choose>
			<when test="keyword!=null and keyword!=''">
				and(r_name like '%'||#{keyword}||'%' or  cg_name like '%'||#{keyword}||'%')
			</when>
			<when test="category!=null and category!=''">
				and cg_name=#{category}
			</when>
		</choose>
	</sql>
	<!-- 
	<sql id="searchDetail">
		<if test="r_id!=null and r_id==''">
			and r_id=#{r_id}
		</if>
	</sql>
	 -->
	<sql id="orderby">
		<if test="orderby=='true'">
			order by distance 
		</if>
	</sql>
	<select id="selectAddr" parameterType="hashmap" resultType="com.jhta.project.vo.user.UserAddrVo">
		select * from user_addr where ui_id=#{ui_id}
		<if test="ua_nickname!=null and ua_nickname!=''">
			and ua_nickname=#{ua_nickname}
		</if>
	</select>
	<select id="searchRes" parameterType="hashmap" resultType="com.jhta.project.vo.user.InSearchRestaurantVo">
		select * from (
			select a.*,rownum rnum from 
			(select * from 
				(
					select r.*,(select calc_distance(#{user_coordx},#{user_coordy},r.r_coordx,r.r_coordy) distance from dual) distance
					from restaurant r 
				) <![CDATA[where distance<3]]> <include refid="searchfield"/> <include refid="orderby"/>) a 
		) <![CDATA[where rnum>=#{startRow} and rnum<=#{endRow}]]>
		
	</select>
	<select id="count" parameterType="hashmap" resultType="int">
		select NVL(count(r_id),0) from 
		(
			select r.*,(select calc_distance(#{user_coordx},#{user_coordy},r.r_coordx,r.r_coordy) distance from dual) distance
			from restaurant r 
		) <![CDATA[where distance<3]]> <include refid="searchfield"/>
		
	</select>
	<select id="searchCategory" resultType="string">
		select cg_name from category
	</select>
	<select id="searchDetail" parameterType="string" resultType="com.jhta.project.vo.user.InSearchRestaurantVo">
		select * from restaurant where r_id=#{r_id}
	</select>
	<select id="foodlist" parameterType="string" resultType="com.jhta.project.vo.restaurant.FoodVo">
		select * from food where r_id=#{r_id}
	</select>
	<select id="foodOptionslist" parameterType="int" resultType="com.jhta.project.vo.user.FoodOptionsVo">
		select * from food_options where food_num=#{food_num} order by fo_category
	</select>
	<!-- 매장 거리계산 -->
	<select id="getdistance" parameterType="hashmap" resultType="Double">
		select calc_distance(#{user_coordx},#{user_coordy},#{r_coordx},#{r_coordy}) distance from dual
	</select> 
	<!-- 카트 추가 -->
	<insert id="insertcart" parameterType="com.jhta.project.vo.user.CartVo">
		insert into cart values(cart_seq.nextval,#{ui_id},#{food_num})
	</insert>
	<select id="getcartseq" resultType="int">
		select max(cart_num) from cart
	</select>
	<insert id="insertcartdetail" parameterType="com.jhta.project.vo.user.CartDetailVo">
		insert into cart_detail values(cart_detail_seq.nextval,#{cart_num},#{fo_num},#{cd_count})
	</insert>
	<delete id="deletecd" parameterType="int">
		delete from cart_detail where cart_num=#{cart_num}
	</delete>
	<delete id="deletecart" parameterType="String">
		delete from cart where ui_id=#{ui_id}
	</delete>
	<delete id="delcartnum" parameterType="int">
		delete from cart where cart_num=#{cart_num}
	</delete>
	<!-- 카트리스트 이동용 -->
	<select id="selectcart" parameterType="string" resultType="com.jhta.project.vo.user.CartVo">
		select * from cart where ui_id=#{ui_id}
	</select>
	<select id="selectcartnum" parameterType="int" resultType="com.jhta.project.vo.user.CartVo">
		select * from cart where cart_num=#{cart_num}
	</select>
	<select id="selectcd" parameterType="int" resultType="com.jhta.project.vo.user.CartDetailVo">
		select * from cart_detail cd,food_options fo
		where cd.fo_num=fo.fo_num and cart_num=#{cart_num} 
		order by (case when fo_category like '%필수%' then 1 else 2 end)
	</select>
	<select id="selectFood" parameterType="string" resultType="com.jhta.project.vo.user.CartFoodVo">
		select * from cart c,food f
		where c.food_num=f.food_num and c.ui_id=#{ui_id}
	</select>
	<!-- 주문표에서 r_id 찾기 -->
	<select id="getCartRid" parameterType="string" resultType="String">
		select distinct f.r_id from cart c, food f where c.food_num=f.food_num and c.ui_id=#{ui_id}
	</select>
	<!-- foodNum으로 r_id 찾기 -->
	<select id="getFoodRid" parameterType="int" resultType="String">
		select r_id from food where food_num=#{food_num} 
	</select>
	<!-- 주소로 해당 배송정보 얻어오기 -->
	<select id="getUserData" parameterType="hashmap" resultType="com.jhta.project.vo.user.UserAddrVo">
		select * from user_addr where ua_addr like '%'||#{ua_addr}||'%' and ui_id=#{ui_id}
	</select>
	<select id="incOrseq" resultType="int">
		select order_seq.nextval or_num from dual
	</select>
</mapper> 




