<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.project.mybatis.mapper.restaurant.RestaurantMapper">
	<resultMap type="com.jhta.project.service.security.CustomUserDetail" id="userDetail">
		<id property="userid" column="r_id"/>
		<result property="password" column="r_pwd"/>
		<result property="enabled" column="r_state"/>
		<collection property="authList" ofType="com.jhta.project.vo.security.AuthorityVo">
			<result property="au_id" column="au_id"/>
			<result property="au_authority" column="au_authority"/>
		</collection>
	</resultMap>
	<select id="getAuths" parameterType="String" resultMap="userDetail">
		select * from restaurant r, authority a
		where r.r_id=a.au_id and r.r_id=#{r_id}
	</select>
	<insert id="restaurantInsert" parameterType="com.jhta.project.vo.restaurant.RestaurantVo">
		insert into restaurant values(#{r_id}, #{r_pwd}, #{r_name}, #{r_addr}, #{r_minCost}, #{r_delCost}, #{r_img}, #{r_state}, #{r_info}, sysdate, #{cg_name},#{r_coordx},#{r_coordy},#{r_delmin},#{r_delmax})
	</insert>
	<insert id="addAuth" parameterType="com.jhta.project.vo.security.AuthorityVo">
		insert into authority values(#{au_id},#{au_authority})
	</insert>
	<!-- 상태 공지 수정 -->
	<update id="infoUpdate" parameterType="com.jhta.project.vo.restaurant.RestaurantVo">
		update restaurant set r_name=#{r_name},r_minCost=#{r_minCost},r_delCost=#{r_delCost},r_img=#{r_img},r_info=#{r_info},
		cg_name=#{cg_name},r_delmin=#{r_delmin},r_delmax=#{r_delmax} where r_id=#{r_id}
	</update>
	<select id="restaurantinfo" parameterType="String" resultType="com.jhta.project.vo.restaurant.RestaurantVo">
		select r_name,r_minCost,r_delCost,r_img,r_info,r_delmin,r_delmax from restaurant where r_id=#{r_id}
	</select>
	<select id="idCheck" parameterType="string" resultType="com.jhta.project.vo.restaurant.RestaurantVo">
		select * from restaurant where r_id = #{r_id}
	</select>
	<!-- 메뉴 등록 -->
	<insert id="menuAdd" parameterType="com.jhta.project.vo.restaurant.FoodVo">
		insert into food values(food_seq.nextval, #{food_name}, #{r_id}, #{food_img}, #{food_cost}, #{food_info}, #{food_status})
	</insert>
	<!-- 해당 매장 메뉴 불러오기 -->
	<select id="menuList" parameterType="string" resultType="com.jhta.project.vo.restaurant.FoodVo">
		select food_num, food_name, food_info, food_img, food_cost
		from restaurant r, food f
		where r.r_id = f.r_id and r.r_id = #{r_id}
	</select>
	<!-- food_num에 해당되는 음식 불러오기 -->
	<select id="getFood" parameterType="int" resultType="com.jhta.project.vo.restaurant.FoodVo">
		select * from food where food_num = #{food_num}
	</select>
</mapper>